/* common */
body{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: #fff;
}
* {
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
}
/* HEADER */
.Main_header{
    height: 100px;
    background: #000000;
    background: url(http://tigersugarkr.com/theme/basic/img/bg_header.png);
    position: relative;
}
.Main_logo{
    width: 100%;
    height: auto;
}
.header_contents{
    width: 1200px;
    margin: 0 auto;
    height: 100px;
    display: block;
}
.Main_logo{
    display: block;
    width: 230px;
    float: left;
    position: relative;
    cursor: pointer;   
}
.Main_logo > a > img {
    padding-top: 25px;
}
/*-- NAV MENU --*/
.nav__menu{
    float: right;
    position: relative;
    right: -30px;
    height: 100px;
    display: block;
}
.nav__menu .menulist{
    display: flex;
    float: left;
    line-height: 100px;
    position: relative;
    padding: 0 35px;
    box-sizing: border-box;
    display: block;
}
.menulist > a.yellow{
    float: left;
    color: #ffe282;
    display: block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
.menulist > a.grey{
    float: right;
    display: block;
    font-size: 16px;
    color: #ddd;
    font-weight: bold;
    letter-spacing: 1px;
}
.menulist:hover .item-contents{
    opacity: 1; 
    height: 200px;
}
.item-contents > ul > li > a{
    display: block;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    justify-content: space-evenly;
}
.item-contents{
    position: absolute;
    opacity: 0;
    z-index: 20;
    width: 100%;
    top: 100px;
    height: 0px;
    background-color: #0c1219;
    transition: .4s;
    padding: 30px 0;
}
.item-contents > ul{
    float: left;
}
.item-contents>ul >li{
    width: 120px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-right: 20px;
}
/* MAIN SECTION */
.Main_Container{
    width: 100%;
}
.slide_wrapper .slide >img{
    width: 100%;
    height: 1080px;
    text-align: center;
}
.slideOption{
    position: absolute;
    width: 52px;
    height: 2283px;
    cursor: pointer;
    z-index: 100;
    box-sizing: border-box;
}
.slideOption > .slide_left{
    background: url(http://tigersugarkr.com/theme/basic/img/ico_idx_visual_slidenavi_prev.png);
    float: left;
    margin-left: 30px;
    background-size: auto;
    box-sizing: auto;
    height: 96px;
    width: 51px;
    transform: translate(0,-570px);


}
.slideOption > .slide_right{
    background: url(http://tigersugarkr.com/theme/basic/img/ico_idx_visual_slidenavi_next.png);
    float: right;
    margin-right: 20px;
    background-size: auto;
    box-sizing: auto;
    height: 96px;
    width: 51px;
    transform: translate(1850px,-665px);
    display: block;
   
}
/* MIND SECTION */
.mind{
    width: 100%;
    font-size:0;
    line-height:0;    
}
#section1 .mind > img{
    width: 100%;
    height: 160px; 
}
/* MENU SECTION */
#section2{
    width: 100%;
    height: 800px;
    background: url(../images/bg_idx_section2.jpg);
}
.Menu_text{
    text-align: center;
    padding-top: 190px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #ffe282;
    display: block;
    
}
.Menu_text span{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: -10px;
}
.Menu_text h2{
    font-size: 45px;
    font-weight: bold;
}
#section2 .menu .Menu_text::before{
    background: url(http://tigersugarkr.com/theme/basic/img/bg_idx_ct1_title_bf.png) no-repeat;
    width: 1560px;
    height: 275px;
    position: absolute;
    left: 400px;
    top: 1500px;
    content:"";
    display: block;
    box-sizing:border-box;
    background-size: auto;   
}
.Menu_text h2::after{
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: #ffe282;
    margin: 20px auto;
}
.MenuSlide{
    margin-top: 50px;
}
.MenuSlide.imgWrap{
    position: relative;
    width: 100%;
    height: 290px;
    overflow: hidden;
    top: 50px;    
}
.MenuSlide .imgWrap >img{
    width: 200px;
    height: 290px;
    vertical-align: middle;
    background-color:#000000;
    float: left;
    margin: 15px;    
}
/* VIDEO SECTION */
#section3 {
    background: url(http://tigersugarkr.com/theme/basic/img/bg_idx_video.jpg);
    width: 100%;
    height: 980px;
    display: block;
}
.Video_text{
    text-align: center;
    padding-top: 190px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #ffe282;
    display: block;    
}
.Video_text span{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: -10px;
}
.Video_text h2{
    font-size: 45px;
    font-weight: bold;
}
.video .Video_text::before{
    background: url(../images/bg_idx_title_2.png);
    width: 1560px;
    height: 76px;
    position: absolute;
    top: 2318px;
    left: 500px;
    bottom: 30px;
    box-sizing: border-box;
    content:"";
    display: block;
    box-sizing:border-box;
    background-size: auto;
}
.Video_text h2::after{
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: #ffe282;
    margin: 20px auto;
}
.video-wrapper{
    width: 940px;
    height: 528px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
/* COMMUNICATION SECTION */
#section4{
    background: url(../images/bg_idx_section4.jpg);
    display: block;
    height: 740px;
    width: 100%;    
}
.communication_text{
    text-align: center;
    padding-top: 150px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #ffe282;
    display: block;    
}
.communication_text span{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: -10px;
}
.communication_text h2{
    font-size: 50px;
    font-weight: bold;
}
.communication .communication_text::before{
    background: url(http://tigersugarkr.com/theme/basic/img/bg_idx_ct1_title_bf.png);
    width: 1560px;
    height: 275px;
    position: absolute;
    top: 3230px;
    left: 290px;
    box-sizing: border-box;
    content:"";
    display: block;
    box-sizing:border-box;
    background-size: auto;
}
.communication_text h2::after{
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: #ffe282;
    margin: 20px auto;
}
.communication_slide{
    width: 100%;
    height: 270px;
    margin-top: 50px;
}
.communication_slide .img_wrap{
    float: left;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    position: relative;
    vertical-align: middle;
}
.communication_slide .img_wrap i{
    position: absolute;
    right: -10px;
    top: 5px;
}
/* FOOTER */
.Main_footer{
    background: #282828;
    height: 140px;
    width: 100%
}
.Main_footer .footer_contents{
    width: 1200px;
    margin-left: 380px;
    margin-right: 380px;
    box-sizing:border-box;
    height: 140px;
}
.footer_contents .footer_logo{
    float: left;
    
    background: url(http://tigersugarkr.com/theme/basic/img/logo2.png);
    width: 158px;
    height: 34px;
    position: relative;
    top: 50px;
}
.footer_text{
    float: left;
    padding-left: 20px;
    padding-top: 45px;
    width: 780px;
    height: 50px;
    font-size: 14px;
    color: #777;
    font-weight: 300;    
}
.footer_text .footer_addr{
    padding: 5px;
}
.footer_text .footer_call{
    padding: 5px;
}
.footer_sideMenu{
    transform: translateY(-30px);
}
.footer_sideMenu_ul{
    float: right;
}
.footer_sideMenu_ul >li{
    float: left;
    margin-right: 35px;
    box-sizing: border-box;
}
.footer_sideMenu_ul > li a{
    color: #ddd;
    font-weight: 400;
    text-decoration: none;
}
/* SCROLL TO THE TOP */
#Quickwrapper{
    position: fixed;
    width: 300px;
    height: 80px;
    right: 5%;
    bottom: 10%;
    background-color: #0c1219;
    padding-top: 20px;
    padding-left: 20px;
}
#Quickwrapper .scroll_fixed{
    float: left;
    width: 80%;
    font-size: 28px;
    color: #fff;
    height: 100%;
    font-weight: 700;
    position: relative;
}
.scroll_fixed a{
    display: block;
    color:#fff;
}
#Quickwrapper .scroll_fixed span{
    display: block;
    font-size: 22px;
    color: #bdbdbd;
    font-weight: 300;
    margin-top: 5px;
}
#Quickwrapper .scroll_image{
    display: block;
    background: url(../images/ico_quick.png) no-repeat;
    width: 110px;
    height: 169px;
    position: absolute;
    left: 200px;
    top: -85px;
}
